/* NanumSquareNeo Light */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Regular */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Bold */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo ExtraBold */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Black */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* NanumPen Regular (400) */
@font-face {
    font-family: 'NanumPen';
    src: url('../fonts/NanumPen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* NanumBarunpen Bold (400) */
@font-face {
    font-family: 'NanumBarunpen';
    src: url('../fonts/NanumBarunpen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* NanumBarunpen Bold (700) */
@font-face {
    font-family: 'NanumBarunpen';
    src: url('../fonts/NanumBarunpen-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Light (300) */
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Medium (500) */
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GmarketSans Bold (700) */
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}